<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanglongxiang.mychat.mapper.GroupMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into `group` (avatar, number, name, num, makeuid,makeusername)
        values (#{avatar},#{number},#{name},#{num},#{makeUid},#{makeUserName});
    </insert>
    <select id="getByIds" resultType="com.wanglongxiang.mychat.pojo.entity.Group">
        select *
        from `group`
        where id in
        <foreach collection="groupIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach> ;
    </select>
    <select id="searchByNameOrNumber" resultType="com.wanglongxiang.mychat.pojo.entity.Group">
        select *
        from `group`
        where number like concat('%',#{key},'%') OR name like concat('%', #{key},'%')
        limit #{page},#{size};
    </select>
    <select id="searchCountByNameOrNumber" resultType="java.lang.Integer">
        select count(*)
        from `group`
        where number like concat('%',#{key},'%') OR name like concat('%', #{key},'%')
        limit #{page},#{size};
    </select>
</mapper>