<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanglongxiang.user.mapper.UserMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into user (avatar, nickname, username, password, sex, phone)
        values (#{avatar},#{nickname},#{username},#{password},#{sex},#{phone});
    </insert>
    <select id="searchByUsernameOrNickname" resultType="com.wanglongxiang.user.pojo.entity.User">
        select *
        from user
        where id != #{userId} and id != #{robotId} and (username like concat('%',#{key},'%') OR nickname like concat('%',#{key},'%'))
        limit #{page},#{size};
    </select>

    <select id="searchCountByUsernameOrNickname" resultType="java.lang.Integer">
        select count(*)
        from user
        where (nickname like concat('%',#{key},'%') or username like concat('%',#{key},'%')) and id != #{userId} and id != #{robotId};
    </select>


</mapper>